/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap'); */

/* variables */
:root {
    --color-background: linear-gradient(to right, #bbcad6, #84b0d1);
    --color-background-todo: #CEA2FD;
    --color-background-button: #ffffff;
    --color-font-primary: blue;
    --color-font-secondary: #ffffff;
}

@font-face {
  font-family:  "Architects";
  /*src: url(./fonts/ArchitectsDaughter-Regular.ttf);*/
}

* {
    font-family: "Architects", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-font-primary);
    background: var(--color-background);
    font-size: 1.2rem;
}

.App {
    max-width: 728px;
    margin: 4rem auto;
    color: var(--color-font-primary);
}

.App > h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-user {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    background: var(--color-background-button);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333333;
    margin-left: 10px;
}

.container-user > ul {
    padding-left: 20px;
}

.container-todo {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}

.grid-todo {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    background: var(--color-background-button);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #333333;
}

.grid-todo > h1 {
    padding-bottom: 30px;
}

.todo-item {
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 30px;
    background: #eeeeee;
}

.todo-item > .delete-icon {
    position: absolute;
    margin-top: -18px;
    margin-left: 181px;
    color: white;
    border: 1px solid red;
    background-color: red;
    padding: 2px;
    cursor: pointer;
}

.container-add-todo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: var(--color-background-button);
    border-bottom: 1px solid #333333;
}

.container-add-todo .item {
    width: -webkit-fill-available;
    flex-direction: row;
    display: flex;
}

.container-add-todo .input {
    background: var(--color-background-button);
    padding: 0.5rem 1rem;
    border: 1px solid blue;
    display: block;
    margin: 0.3rem 1rem 0 0;
    font-size: 1rem;
    width: inherit;
}

.container-add-todo .submit-button button {
    background: var(--color-background-button);
    border: 1px solid blue;
    color: blue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    width: 200px;
}

.container-add-todo .submit-button button[disabled] {
    background: #e2e2e2;
    color: #a0a0ff;
    border: 1px solid #a0a0ff;
}

.container-add-todo .submit-button {
    justify-content: center;
    margin-top: 30px;
}

.container-toast {
    width: 300px;
    position: fixed;
    margin: 30px;
    right: 0;
    top: 0;
}

.toast {
    margin-top: 15px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
